.checkin {
background-color: white;
}
.checkinTitle {
  color: #474b4e;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  border-left: 2px solid #474b4e;
  width: 100%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
.formulario {
  color: black;
  margin-bottom: 15%;
}
.buttonCheckin {
  margin-left: 25%;
  width: 50%;
  background-color: #42c920;
}
.buttonCheckin:hover {
  background-color: #42c920;
}
.checkin img {
  width: 90%;
  height: auto;
}
.password-icon {
  float: right;
  position: relative;
  margin: -25px 10px 0 0;
  cursor: pointer;
}
