/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
body {
  background-color: black;
  color: white;
}

.navbar-brand {
  color: #42c920;
  background-color: black;
}

.footer {
  color: #42c920;
}
