.landing {
  justify-content: center;
}

.block {
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 1em;
}
.lgo2 {
  height: 1vh;
}
.slogan {
  margin-top: 0.2 em;
  margin-right: auto;
  font-family: "Oswald", sans-serif;
  text-decoration: bold;
  font-size: 4vw;
  color:#FED049;
}
.sloganText {
  margin-top: 0.2 em;
  margin-right: auto;
  font-family: "Oswald", sans-serif;
  font-size: 3vw;
}

/* PARA HACER RESPONSIVE LOS TEXTOS */
@media only screen and (max-width: 768px) {
  .slogan {
    font-size: 5vw;
  }
  .sloganText {
    font-size: 4vw;
  }
}
@media only screen and (max-width: 576px) {
  .slogan {
    font-size: 6vw;
  }
  .sloganText {
    font-size: 5vw;
  }
}
.allbutton {
  background-color: rgba(0, 0, 0, 0.664);
  font-family: "Montserrat", sans-serif;
  width: 8em;
}

.link {
  text-decoration: none;
  color: white;
  width: 200px;
}

