/* 
.username {
  width: 30%;
  color: #42c920;
  border: 1px solid #0a740c;
  margin-left: 30%;
  margin-right: 30%;
} */

.userTitle {
  color: #fed049;
  width: 60%;
  background-color: #444c4c;
  border: 3px solid #474b4e
}
.heartLikes {
  color: #1a9820;
}
.imgPlayLater {
  height: 100px;
  width: 80x;
}
.imgPlayLater:hover {
  cursor: pointer;
}
.titleLikes{
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1vw;


}
.titlePlayLater {
  color: #474b4e;
  border-bottom: 2px solid #474b4e;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 2.5vw;
  margin-top: 15px;
  padding-left: 5px;
}
.textProfile {
  font-size: 1.7vw;
  margin-top: 10px;
}

/* PARA HACER RESPONSIVE LOS TEXTOS */
@media only screen and (max-width: 960) {
  .title {
    font-size: 3.5vw;
  }
  .textProfile {
    font-size: 3.5vw;
  }
}
@media only screen and (max-width: 768px) {
  .title {
    font-size: 4.5vw;
  }
  .textProfile {
    font-size: 3.5vw;
  }
}
@media only screen and (max-width: 576px) {
  .title {
    font-size: 5vw;
  }
  .textProfile {
    font-size: 4vw;
  }
}
/* PARA HACER RESPONSIVE LOS TEXTOS */


.buttonPlayList {
  background-color: #fed049;
  color:black;
}
.buttonPlayList:hover{
  background-color: #e7bd3f;
  color:black;
}
.modal-content {
  background: rgb(27, 26, 26);
}
.modal-footer {
  border-top: 1px solid #fed049;
}


.circle{
  background-color: #37bc16;
  color: #F5F5F5;
  font-weight: 800;
  font-size: 24px;
  text-align: center;
  line-height: 80px;
  width: 96px;
  height: 9containerInfo6px;
  border-radius: 50%;
  border: 8px solid #1a9820;
  display: block;
}

.circle2{
  background-color: #37bc16;
  color: #F5F5F5;
  font-weight: 800;
  font-size: 12px;
  text-align: center;
  line-height: 35px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid #1a9820;
}
.containerperfil{
  display: flex; 
  justify-content: space-between;
  align-items: center;
}


