.colortitles {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: #474b4e;
  border-left: solid #474b4e;
  padding-left: 10px;
  margin-bottom: 20px;
}
.text {
  color: white;
}
.textopildora {
  margin: auto;
  font-size: 1.5vw;
}
.hover {
  border-color: azure;
}

.div {
  height: 150px;
}

.iconsChild {
  margin: auto;
  font-size: 1.5rem;
}

.cursorpointer {
  cursor: pointer;
}

.savenotallowed {
  pointer-events: none;
  color: white;
}
.likeoff {
  color: white;
}

.fondobanner {
  background: white;
  text-align: left;
  display: flex;
}

.textoprincipalbanner {
  font-size: 2.3vw;
  color: black;
}
.textosecundariobanner {
  font-family: "Montserrat";
  color: black;
  font-size: 1.4vw;
}

a,
i {
  text-decoration: none;
  /*color: black;*/
}
a:hover,
i:hover {
  text-decoration: none;
  /* color: #42c920; */
}

.texto1pills {
  font-size: 1rem;
  background-color: rgba(221, 23, 23, 0.719);
  padding-right: 10px;
  margin-right: 10px;
  border: 1px solid #f7c815;
}

.texto2pills {
  font-size: 1rem;
  color: white;
}
.texto3pills {
  font-size: 0.8rem;
  color: black;
}

.espacio {
  justify-content: space-around;
}

.width {
  height: 450px;
}

.mi-iframe {
  width: 850px;
  height: 650px;
}
/* CSS pantallas de 320px o superior */
@media (min-width: 320px) {
  .mi-iframe {
    width: 320px;
    height: 200px;
  }
}

@media (min-width: 423px) {
  .mi-iframe {
    width: 350px;
    height: 200px;
  }
}

/* CSS pantallas de 320px o superior */
@media (min-width: 551px) {
  .mi-iframe {
    width: 490px;
    height: 250px;
  }
}

/* CSS pantallas de 320px o superior */
@media (min-width: 768px) {
  .mi-iframe {
    width: 680px;
    height: 350px;
  }
}

/*



/* CSS pantalla 768px o superior */
@media (min-width: 1400px) {
  .mi-iframe {
    width: 850px;
    height: 550px;
  }
}
