.colortitles {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: #474b4e;
  border-left: solid #474b4e;;
  padding-left: 10px;
  margin-bottom: 20px;
}
.text {
  color: white;
}

.hover {
  border-color: azure;
}

.div {
  height: 150px;
}

.icons {

  font-size: 30px;
  
  padding-top: 15px;
  padding-bottom: 15px;
  /*background:#FED049;*/
 
  
}
.iconsChild {
  margin:auto;
  font-size: 2.5vw;
  height: auto;
}

.cursorpointer {
  cursor: pointer;
}

.cursornotallowed {
  pointer-events: none;
  color: red;
}

.fondobanner {
  background:white;
 
  text-align: left;
  
  display: flex;

}

a, i {
  text-decoration: none;
  color: white;
}
a:hover, i:hover {
  text-decoration: none;
  /* color: #42c920; */
}

.texto1{
  font-size: 2vw;
  color:black;
}
.texto2{
  font-family: "Montserrat";
  color: black;
}


