.colortitles {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: #fed049;
  border-left: solid #fed049;
  padding-left: 10px;
  margin-bottom: 20px;
}
.text {
  color: white;
}

.hover {
  border-color: azure;
}

.div {
  height: 150px;
}

.icons {
  display: flex;
  font-size: 30px;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  /* background:#FED049; */
  margin-bottom: 30px;
  justify-content: center;
}
.iconsChild {
  margin:auto;
  font-size: 2.5vw;
  height: auto;
}

.cursorpointer {
  cursor: pointer;
}

.cursornotallowed {
  pointer-events: none;
  color: red;
}

.fondobanner {
  background: #02012e;
  font-size: 30px;
  text-align: center;
}

a, i {
  text-decoration: none;
  color: white;
}
a:hover, i:hover {
  text-decoration: none;
  color: #42c920;
}